body{
  margin:0;
  font-size:16px;
  background-color:rgb(202, 202, 202);
  font-family:Verdana,sans-serif;
}

header{
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:0;
  margin:0;
  height:100px;
  width:100%;
  background:rgb(27, 27, 27);
}

.logo{
  margin:0 0 0 40px;
  font-size:20px;
  line-height:64px;
  color:rgb(202, 202, 202);
}

main{
  margin:auto;
  max-width: 1020px;
  height:auto;
}

  .container{
    display:flex;
    flex-wrap:wrap;
    justify-content: auto;
    width:100%;
  }

.box{
  width: 300px;
  height:280px;
  margin: 10px;
  text-align: center;
  line-height:100px;
  font-size:25px;
  border:solid rgb(202, 202, 202);;
  background:white;
}

@media (max-width:1020px) {

  .box{
    position:relative;
    display:block;
    margin:10px auto 16px;
    font-size:1rem;
    height:200px;
    width:500px;
  }

}

footer{
  padding:50px;
  text-align:center;
  background:rgb(27, 27, 27);
  color:rgb(202, 202, 202);
}
