body{
  margin:0;
  font-size:16px;
  background-color:rgb(230, 230, 230);
  font-family:Verdana,sans-serif;
}

#header{
  margin:0;
  width:100%;
  height:66px;
}

#header #gnav{
  z-index:999;
  position:fixed;
  top: 0;
  left:0;
  width:100%;
  height:55px;
  background:rgb(27, 27, 27);
}

#gnav ul{
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
  list-style: none;
}

#gnav a{
  display: block;
  font-size:16px;
  margin:18px 40px;
  text-decoration: none;
  color:rgb(202, 202, 202);
  text-align: center;
}

#gnav li:hover{
  background:rgb(0, 0, 0);
}

main{
  margin:100px auto auto auto;
  max-width: 958px;
}

.container{
  display:flex;
  flex-wrap:wrap;
  justify-content: auto;
  width:100%;
}

.box{
  width: 280px;
  height:280px;
  margin: 10px;
  border-radius: 3px;
  border:solid rgb(202, 202, 202);
  text-align: center;
  line-height:100px;
  font-size:25px;
  background:white;
  cursor:pointer;
}

.box:hover{
  box-shadow:0 2px 10px rgba(0,0,0, 40%);
}


@media (max-width:958px) {

  .box{
    position:relative;
    display:block;
    margin:16px auto 16px;
    font-size:1rem;
    height:200px;
    width:550px;
  }

  #gnav li a{
    margin:18px 7px;
    text-decoration: none;
    justify-content: center;
    color:rgb(202, 202, 202);
  }
}

@media (max-width:320px){
  
  .box{
    position:relative;
    display:block;
    margin:16px auto 16px;
    font-size:1rem;
    height:200px;
    width:550px;
  }

  #gnav li a{
    font-size: 14px;
    margin:18px 5px;
    text-decoration: none;
    justify-content: center;
    color:rgb(202, 202, 202);
  }
}

footer{
  padding:50px;
  text-align:center;
  background:rgb(27, 27, 27);
  color:rgb(202, 202, 202);
}
